<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>costume_1</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_2</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_1</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_7</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_2</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_1</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_3</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_5</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_8</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_9</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_2</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_1</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_4</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_2</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_1</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_3</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_3</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_6</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_10</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_11</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_12</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_3</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_4</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_5</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_6</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_7</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_8</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_13</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_14</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_15</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_5</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_1</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_2</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_2</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_9</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>friend_1</string>
			<key>category</key>
			<string>Friend</string>
		</dict>
		<dict>
			<key>name</key>
			<string>friend_2</string>
			<key>category</key>
			<string>Friend</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_6</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_4</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>friend_3</string>
			<key>category</key>
			<string>Friend</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_1</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_3</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_4</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>love_1</string>
			<key>category</key>
			<string>Love</string>
		</dict>
		<dict>
			<key>name</key>
			<string>friend_4</string>
			<key>category</key>
			<string>Friend</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_4</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_4</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_7</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>love_2</string>
			<key>category</key>
			<string>Love</string>
		</dict>
		<dict>
			<key>name</key>
			<string>love_3</string>
			<key>category</key>
			<string>Love</string>
		</dict>
		<dict>
			<key>name</key>
			<string>other_1</string>
			<key>category</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>name</key>
			<string>other_2</string>
			<key>category</key>
			<string>Other</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_3</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>boy_8</string>
			<key>category</key>
			<string>Boy</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_10</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_11</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_12</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_13</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_5</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_6</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_7</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_8</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_4</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_5</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_16</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_17</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_18</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_19</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_20</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_21</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_22</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_23</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_24</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_25</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_14</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_15</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_16</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_17</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_18</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_19</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_20</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_9</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_10</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_11</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_12</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_13</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_14</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_4</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_5</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_6</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_7</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_8</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_6</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>fashions_7</string>
			<key>category</key>
			<string>Fashions</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_26</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_27</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_28</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_29</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_30</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_31</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_32</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_33</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_34</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_35</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_36</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_37</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_38</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_39</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_40</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_41</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_42</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_43</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_44</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_45</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_2</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_3</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_5</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_15</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_16</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>costume_17</string>
			<key>category</key>
			<string>Costume</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_46</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_47</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_48</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_49</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_50</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_9</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>lifestyle_10</string>
			<key>category</key>
			<string>Lifestyle</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_21</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_22</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_23</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_51</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_52</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_53</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_54</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_55</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_56</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_57</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_58</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_24</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>cute_25</string>
			<key>category</key>
			<string>Cute</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_6</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_7</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>scenery_8</string>
			<key>category</key>
			<string>Scenery</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_59</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>girl_60</string>
			<key>category</key>
			<string>Girl</string>
		</dict>
		<dict>
			<key>name</key>
			<string>wallpaper_1</string>
			<key>category</key>
			<string>Wallpaper</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>b_Girl</string>
		<string>c_Boy</string>
		<string>d_Cute</string>
		<string>e_Costume</string>
		<string>f_Fashions</string>
		<string>g_Wallpaper</string>
		<string>h_Love</string>
		<string>i_Friend</string>
		<string>j_Scenery</string>
		<string>k_Lifestyle</string>
		<string>l_Other</string>
	</array>
</dict>
</plist>
