<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>anime1</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime2</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime3</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime4</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime5</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>b_Bonus</string>
		<string>c_Landscapes</string>
		<string>d_Travel</string>
		<string>e_People</string>
		<string>f_Animals</string>
		<string>g_Flower</string>
		<string>h_StillLife</string>
		<string>h_Ocean</string>
		<string>k_FoodDrink</string>
		<string>l_Vehicles</string>
		<string>m_Holiday</string>
	</array>
	<key>Daily</key>
	<dict>
		<key>oilOld</key>
		<array>
			<dict>
				<key>start</key>
				<string>2020-06-01</string>
				<key>end</key>
				<string>2020-06-15</string>
			</dict>
		</array>
		<key>oil</key>
		<array>
			<dict>
				<key>start</key>
				<string>2020-06-16</string>
				<key>end</key>
				<string>2020-06-20</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-07-01</string>
				<key>end</key>
				<string>2020-07-15</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-08-16</string>
				<key>end</key>
				<string>2020-08-31</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-09-16</string>
				<key>end</key>
				<string>2020-09-30</string>
			</dict>
		</array>
		<key>water</key>
		<array>
			<dict>
				<key>start</key>
				<string>2020-06-21</string>
				<key>end</key>
				<string>2020-06-30</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-07-16</string>
				<key>end</key>
				<string>2020-08-15</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-09-01</string>
				<key>end</key>
				<string>2020-09-15</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
