<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>travel_w_0</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_w_0</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_w_0</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_w_0</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>vehicles_w_0</string>
			<key>category</key>
			<string>Vehicles</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean_w_0</string>
			<key>category</key>
			<string>Ocean</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stillLife_w_0</string>
			<key>category</key>
			<string>StillLife</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_w_0</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GlitterPaintting</string>
			<key>url</key>
			<string>itms-apps://itunes.apple.com/app/id1508864104</string>
		</dict>
		<dict>
			<key>name</key>
			<string>GlitterPaintting1</string>
			<key>url</key>
			<string>itms-apps://itunes.apple.com/app/id1508864104</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>b_Bonus</string>
		<string>c_Landscapes</string>
		<string>d_Travel</string>
		<string>e_Animals</string>
		<string>f_Flower</string>
		<string>g_People</string>
		<string>h_StillLife</string>
		<string>h_Ocean</string>
		<string>k_FoodDrink</string>
		<string>l_Vehicles</string>
		<string>m_Holiday</string>
	</array>
	<key>Daily</key>
	<dict>
		<key>line</key>
		<array>
			<dict>
				<key>start</key>
				<string>2019-11-01</string>
				<key>end</key>
				<string>2020-03-10</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-04-4</string>
				<key>end</key>
				<string>2020-05-09</string>
			</dict>
		</array>
		<key>oil</key>
		<array>
			<dict>
				<key>start</key>
				<string>2020-03-11</string>
				<key>end</key>
				<string>2020-04-3</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-05-10</string>
				<key>end</key>
				<string>2020-05-28</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
