<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_1.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_2</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_3</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_4</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_5</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_6</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_7</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_8</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_1</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_2</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_1</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_2</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_3</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_4</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_3</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_4</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_1</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_2</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_3</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_4</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_5</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_6</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_7</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_8</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_9.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_10.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_11.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_12.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_5</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_6</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_5</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_6</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_1</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_2</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_1</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_2</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_3</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_4</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_3</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_4</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_1</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_2</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_3</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_4</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_13.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_14.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_15.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_16.png</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_7</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_8</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_7</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_8</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_5</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_oilOld_6</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_5</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_6</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_7</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_8</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_9</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_10</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_1</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_2</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_3</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_4</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_9</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_10</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_9</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_10</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_11</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_12</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_13</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_14</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_11</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_12</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_15</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_16</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_13</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_14</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_17</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_18</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_11</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_12</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_13</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_14</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_9</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_10</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_11</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_12</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_5</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_6</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_water_1</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_water_2</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_17</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_18</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_19</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_20</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_15</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_16</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_17</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_18</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_oilOld_1</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_oilOld_2</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_5</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_6</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_7</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_8</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_9</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>animals_water_10</string>
			<key>category</key>
			<string>Animals</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_15</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_oilOld_16</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_19</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_20</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_7</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_8</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_water_3</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_water_4</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_9</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_10</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_11</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>people_oilOld_12</string>
			<key>category</key>
			<string>People</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_21</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_22</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_23</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_24</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_19</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_20</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_21</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>travel_water_22</string>
			<key>category</key>
			<string>Travel</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_13</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_14</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_15</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>flower_oilOld_16</string>
			<key>category</key>
			<string>Flower</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>holiday_oilOld_25</string>
			<key>category</key>
			<string>Holiday</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_21</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_22</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>landscapes_water_23</string>
			<key>category</key>
			<string>Landscapes</string>
			<key>model</key>
			<string>water</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stillLife_oilOld_1</string>
			<key>category</key>
			<string>StillLife</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stillLife_oilOld_2</string>
			<key>category</key>
			<string>StillLife</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stillLife_oilOld_3</string>
			<key>category</key>
			<string>StillLife</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
		<dict>
			<key>name</key>
			<string>stillLife_oilOld_4</string>
			<key>category</key>
			<string>StillLife</string>
			<key>model</key>
			<string>oilOld</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>b_Bonus</string>
		<string>c_Landscapes</string>
		<string>d_Travel</string>
		<string>e_Animals</string>
		<string>f_Flower</string>
		<string>g_People</string>
		<string>h_StillLife</string>
		<string>h_Ocean</string>
		<string>k_FoodDrink</string>
		<string>l_Vehicles</string>
		<string>m_Holiday</string>
	</array>
	<key>Daily</key>
	<dict>
		<key>line</key>
		<array>
			<dict>
				<key>start</key>
				<string>2019-11-01</string>
				<key>end</key>
				<string>2020-03-10</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-04-4</string>
				<key>end</key>
				<string>2020-05-09</string>
			</dict>
		</array>
		<key>oil</key>
		<array>
			<dict>
				<key>start</key>
				<string>2020-03-11</string>
				<key>end</key>
				<string>2020-04-3</string>
			</dict>
			<dict>
				<key>start</key>
				<string>2020-05-10</string>
				<key>end</key>
				<string>2020-05-28</string>
			</dict>
		</array>
	</dict>
	<key>GuoLv</key>
	<dict>
		<key>oil</key>
		<dict>
			<key>guolvCount</key>
			<string>2</string>
			<key>guolvCountOk</key>
			<string>3</string>
			<key>AreaGuolvCount</key>
			<string>50</string>
		</dict>
	</dict>
</dict>
</plist>
