<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Home</key>
	<array>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string></string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>people</string>
					<key>title</key>
					<string>People</string>
				</dict>
				<dict>
					<key>name</key>
					<string>nature</string>
					<key>title</key>
					<string>Nature</string>
				</dict>
				<dict>
					<key>name</key>
					<string>animals</string>
					<key>title</key>
					<string>Animals</string>
				</dict>
				<dict>
					<key>name</key>
					<string>fantasy</string>
					<key>title</key>
					<string>Fantasy</string>
				</dict>
				<dict>
					<key>name</key>
					<string>rare</string>
					<key>title</key>
					<string>Rare</string>
				</dict>
				<dict>
					<key>name</key>
					<string>oil</string>
					<key>title</key>
					<string>Oil</string>
				</dict>
				<dict>
					<key>name</key>
					<string>anime</string>
					<key>title</key>
					<string>Anime</string>
				</dict>
				<dict>
					<key>name</key>
					<string>glitter</string>
					<key>title</key>
					<string>Glitter</string>
				</dict>
				<dict>
					<key>name</key>
					<string>puzzle</string>
					<key>title</key>
					<string>Puzzle</string>
				</dict>
				<dict>
					<key>name</key>
					<string>easy</string>
					<key>title</key>
					<string>Easy</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string></string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>leibie_1.png</string>
					<key>title</key>
					<string></string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string>Category A</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>category_people</string>
					<key>title</key>
					<string>People</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_nature</string>
					<key>title</key>
					<string>Nature</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_animals</string>
					<key>title</key>
					<string>Animals</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_fantasy</string>
					<key>title</key>
					<string>Fantasy</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_rare</string>
					<key>title</key>
					<string>Rare</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_oil</string>
					<key>title</key>
					<string>Oil</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_anime</string>
					<key>title</key>
					<string>Anime</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_glitter</string>
					<key>title</key>
					<string>Glitter</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_puzzle</string>
					<key>title</key>
					<string>Puzzle</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_food</string>
					<key>title</key>
					<string>Food</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_watercolor</string>
					<key>title</key>
					<string>Watercolor</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_holidays</string>
					<key>title</key>
					<string>Holidays</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_constellation</string>
					<key>title</key>
					<string>Constellation</string>
				</dict>
				<dict>
					<key>name</key>
					<string>category_flower</string>
					<key>title</key>
					<string>Flower</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string></string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>vip</string>
					<key>title</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string>Editor,s Choice</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>Constellation</string>
				</dict>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>Constellation</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>category</key>
			<dict>
				<key>title</key>
				<string>Festivals</string>
			</dict>
			<key>images</key>
			<array>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>Merry Christmas</string>
				</dict>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>Halloween</string>
				</dict>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>Happy Easter</string>
				</dict>
				<dict>
					<key>name</key>
					<string>leibie_1</string>
					<key>title</key>
					<string>New Year</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
