<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>b_Animals</key>
	<array>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_007</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_008</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_009</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_010</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_012</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_013</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_014</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_015</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_016</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_017</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_019</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_020</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_021</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_022</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170518_023</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_2018830_01</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_2018830_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_2018830_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_2018830_06</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_2018830_07</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170420_167</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170420_168</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170420_169</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_kingdom_20170420_170</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20170421_285</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20180909_1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20180909_2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20180909_3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_26</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_49</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_23</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_35</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_48</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_50</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_37</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_40</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_47</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_39</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_38</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_30</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_28</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_11</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_2018916_4</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_760</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_cd7</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_d44</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_9df</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_86c</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_cfa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_cc3</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190517_001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190517_002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190517_003</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190616_001</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190616_002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Animal_20190616_003</string>
		</dict>
	</array>
	<key>d_Basic</key>
	<array>
		<dict>
			<key>name</key>
			<string>Basic_20170518_002</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_005</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_006</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_007</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_008</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_009</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_010</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170518_011</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_201830_02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_201830_03</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_201830_04</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_201830_05</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_289</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_181</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_41</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_48</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_15</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_16</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_17</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_18</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_19</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_35</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_44</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_52</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_14</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_21</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_23</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_24</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_54</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_55</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_187</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_190</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_191</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20170421_323</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_2</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_6</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_2018916_50</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_7cc</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_7d1</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_7d5</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_77a</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_77d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_78d</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_797</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_986</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_987</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_8fa</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_778</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_791</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_990</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Basic_20190616_001</string>
		</dict>
	</array>
</dict>
</plist>
