<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Daily_4_25</key>
	<array>
		<dict>
			<key>name</key>
			<string>oil_animals_36</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_animal_59</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_animal_40</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_flower_13</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_animal_50</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_animal_20</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_scenery_26</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Scenery</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_44</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_people_36</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>People</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_188</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_fashions_24</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Fashions</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_75</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_24</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_94</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_44</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_beauty_08</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Beauty</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_nature_18</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_travel_39</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_travel_37</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_travel_36</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_nature_21</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_food_36</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Food</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_food_39</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_fashion_26</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Fashion</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_26</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_109</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_47</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_flower_79</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_27</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_08</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_06</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_205</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_136</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_37</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_59</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_02</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_48</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_56</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_68</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_77</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_85</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_20</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_fashions_23</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Fashions</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_42</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_animal_18</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_bible_96</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Bible</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_people_06</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>People</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_florals_08</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Florals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>classic_bible_42</string>
			<key>category_1</key>
			<string>Classic</string>
			<key>category_2</key>
			<string>Bible</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_flower_07</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_ocean_11</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Ocean</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_animals_42</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>water_animals_40</string>
			<key>category_1</key>
			<string>Watercolor</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_nature_17</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_nature_35</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_nature_50</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_living_14</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Living</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_food_05</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Food</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_67</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>glitter_animal_80</string>
			<key>category_1</key>
			<string>Glitter</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_animals_38</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_travel_23</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_travel_10</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_travel_04</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_animals_03</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_flower_49</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_31</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_19</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_13</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_girl_58</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Girl</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_24</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_costume_14</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Costume</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_19</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>anime_cute_21</string>
			<key>category_1</key>
			<string>Anime</string>
			<key>category_2</key>
			<string>Cute</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_landscapes_01</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Landscapes</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_animals_35</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Animals</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>oil_travel_35</string>
			<key>category_1</key>
			<string>Oil</string>
			<key>category_2</key>
			<string>Travel</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live145</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_3</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live145m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live139</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live139m1</string>
				<string>live139m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live133</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Nature</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live133m1</string>
				<string>live133m2</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live127</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Holidays|Happy Easter </string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live127m1</string>
				<string>live127m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live101</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Love</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live101m1</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live78</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Fantasy|Fairy Tales</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_3</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live78m1</string>
				<string>live78m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live98</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Constellation</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_2</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live98m1</string>
				<string>live98m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live52</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Most Popular|Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live52m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live131</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Most Popular</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_4</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live131m1</string>
				<string>live131m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live23</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Animals|Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_4</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live23m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live04</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Rare</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live04m1</string>
				<string>live04m2</string>
				<string>live04m3</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live58</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live58m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live115</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Flower|Living</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_2</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live115m1</string>
				<string>live115m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live89</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Constellation</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_3</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live89m1</string>
				<string>live89m2</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live103</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Flower|Most Popular</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>Firefly_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live103m1</string>
				<string>live103m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live37</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_5</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live18</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Most Popular</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_3</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live18m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live84</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live84m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live25</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>glow_5</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live120</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Holidays|Merry Christmas</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live120m1</string>
				<string>live120m2</string>
				<string>live120m3</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live135</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Love</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live135m1</string>
				<string>live135m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live61</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live61m1</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live66</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Flower</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_5</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live66m1</string>
				<string>live66m2</string>
				<string>live66m3</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live93</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Constellation</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_4</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live93m1</string>
				<string>live93m2</string>
				<string>live93m3</string>
				<string>live93m4</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live09</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Rare</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_3</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live09m1</string>
				<string>live09m2</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live91</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Constellation</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_4</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live91m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live108</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Love|Fantasy|Fairy Tales</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_2</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live108m1</string>
				<string>live108m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live65</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Animals|Fairy Tales</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live65m1</string>
				<string>live65m2</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live56</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Fantasy|Fairy Tales</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_5</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live56m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live68</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Most Popular|Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>glow_5</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live68m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live90</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Constellation</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live90m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live112</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy|Nature</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>snow_3</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live112m1</string>
				<string>live112m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live06</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Holidays|Merry Christmas</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live63</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_3</string>
			<key>animation</key>
			<array>
				<string>live63m1</string>
				<string>live63m2</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live73</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live73m1</string>
				<string>live73m2</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live81</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Fantasy</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_5</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live81m1</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live74</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Nature</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>snow_1</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live74m1</string>
				<string>live74m2</string>
				<string>live74m3</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live140</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Rare|Most Popular</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>Firefly_1</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live140m1</string>
				<string>live140m2</string>
				<string>live140m3</string>
				<string>live140m4</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live01</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Love</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_4</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live01m1</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live02</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>Holidays|Halloween|Most Popular</string>
			<key>bian</key>
			<string>no</string>
			<key>particle</key>
			<string>Firefly_5</string>
			<key>background</key>
			<string>Gif_Di_1</string>
			<key>animation</key>
			<array>
				<string>live02m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
		<dict>
			<key>name</key>
			<string>live11</string>
			<key>category_1</key>
			<string>Live</string>
			<key>category_2</key>
			<string>People|Most Popular</string>
			<key>bian</key>
			<string>yes</string>
			<key>particle</key>
			<string>Firefly_4</string>
			<key>background</key>
			<string>Gif_Di_2</string>
			<key>animation</key>
			<array>
				<string>live11m1</string>
			</array>
			<key>ads</key>
			<string>no</string>
		</dict>
	</array>
</dict>
</plist>
