<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<array>
			<dict>
				<key>name</key>
				<string>poly_1</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_2</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_3</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_4</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>poly_5</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_9</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_10</string>
			</dict>
		</array>
		<array>
			<dict>
				<key>name</key>
				<string>poly_11</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_12</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_13</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_15</string>
			</dict>
			<dict>
				<key>name</key>
				<string>poly_16</string>
			</dict>
		</array>
	</array>
</dict>
</plist>
