<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a_Animals</key>
	<array>
		<dict>
			<key>name</key>
			<string>animal00068</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>b_Birds</key>
	<array/>
	<key>c_Food</key>
	<array/>
	<key>d_Ocean</key>
	<array/>
	<key>e_Plants</key>
	<array/>
	<key>f_People</key>
	<array/>
	<key>g_Objects</key>
	<array/>
</dict>
</plist>
