<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a_Animals</key>
	<array>
		<dict>
			<key>name</key>
			<string>animal00070</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00069</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00068</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00067</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00066</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00065</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00064</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00063</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00062</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00061</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00060</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00059</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00058</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00057</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00056</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00055</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00054</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00053</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00052</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00051</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00050</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00049</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00048</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00047</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00046</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00045</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00044</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00043</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00002</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00004</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00005</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00006</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00007</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00009</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00011</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00013</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00014</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00016</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00018</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00020</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00021</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00022</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00023</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00028</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00029</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00030</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00031</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00032</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00033</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00034</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00035</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00036</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00037</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00038</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00039</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>animal00040</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>b_Birds</key>
	<array>
		<dict>
			<key>name</key>
			<string>bird00038</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00037</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00036</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00035</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00034</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00033</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00032</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00002</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00004</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00005</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00006</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00007</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00008</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00009</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00010</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00011</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00013</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00014</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00018</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00019</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00020</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00021</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00022</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00024</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00025</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00026</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00027</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00028</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00029</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00030</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>bird00031</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>c_Food</key>
	<array>
		<dict>
			<key>name</key>
			<string>food00049</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00048</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00047</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00046</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00045</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00044</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00002</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00005</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00006</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00007</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00008</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00009</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00010</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00011</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00014</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00016</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00018</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00019</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00020</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00021</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00024</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00025</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00026</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00027</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00028</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00029</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00030</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00031</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00032</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00033</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00034</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00035</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00037</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00038</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00039</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00040</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00041</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00042</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>food00043</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>d_Ocean</key>
	<array>
		<dict>
			<key>name</key>
			<string>ocean00002</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00004</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00005</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00006</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00007</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00008</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00009</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00011</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00013</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00014</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00016</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00018</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00019</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00020</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00023</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>ocean00024</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>e_Plants</key>
	<array>
		<dict>
			<key>name</key>
			<string>plant00027</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00026</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00025</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00024</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00002</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00003</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00004</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00006</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00007</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00008</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00009</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00010</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00013</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00014</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00016</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00018</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00019</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00020</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00021</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00022</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>plant00023</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>f_People</key>
	<array>
		<dict>
			<key>name</key>
			<string>people00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00014</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00013</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00012</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00011</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00004</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00005</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00006</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00008</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00009</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>people00010</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>g_Objects</key>
	<array>
		<dict>
			<key>name</key>
			<string>objects00017</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00016</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00015</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00014</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00013</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00001</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00002</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00003</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00004</string>
			<key>buy</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00005</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00006</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00007</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00008</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00009</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00010</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00011</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>name</key>
			<string>objects00012</string>
			<key>buy</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>h_New</key>
	<dict>
		<key>Animals</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
			<string>8</string>
		</array>
		<key>Birds</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
		<key>Food</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
			<string>7</string>
		</array>
		<key>Ocean</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
			<string>6</string>
		</array>
		<key>Plants</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
		</array>
		<key>People</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
		</array>
		<key>Objects</key>
		<array>
			<string>0</string>
			<string>1</string>
			<string>2</string>
			<string>3</string>
			<string>4</string>
			<string>5</string>
		</array>
	</dict>
</dict>
</plist>
