<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>Fitness1</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness2</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness3</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food1</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food2</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food3</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food4</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature1</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature2</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature3</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature4</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature5</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel1</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel2</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel3</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel4</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness4</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness5</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness6</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness7</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness8</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness9</string>
			<key>category</key>
			<string>Fitness</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature6</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature7</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature8</string>
			<key>category</key>
			<string>Nature</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food5</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food6</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food7</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Food8</string>
			<key>category</key>
			<string>Food</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel5</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel6</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel7</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel8</string>
			<key>category</key>
			<string>Travel</string>
			<key>ads</key>
			<string>yes</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>Nature</string>
		<string>Travel</string>
		<string>Fitness</string>
		<string>Food</string>
	</array>
</dict>
</plist>
