<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Photo</key>
	<array>
		<dict>
			<key>name</key>
			<string>Food3</string>
			<key>category</key>
			<array>
				<string>Food</string>
				<string>Nature</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Nature1</string>
			<key>category</key>
			<array>
				<string>Nature</string>
				<string>Food</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Travel1</string>
			<key>category</key>
			<array>
				<string>Travel</string>
				<string>Fitness</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fitness4</string>
			<key>category</key>
			<array>
				<string>Fitness</string>
				<string>Food</string>
			</array>
			<key>ads</key>
			<string>yes</string>
		</dict>
	</array>
	<key>Category</key>
	<array>
		<string>Nature</string>
		<string>Travel</string>
		<string>Fitness</string>
		<string>Food</string>
	</array>
</dict>
</plist>
